img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

body { 
	/*default image size 650x1285*/
    background-image: url('../images/casio_base.png');
    background-repeat: no-repeat;
    background-position: top center; 
    margin: 0;
    /*disallow highlighting text*/
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/*container divs*/

.watch-container{
	width: 650px;
	height: 1285px;
	margin: 0 auto;
	border: 1px solid rgba(255,255,0,1);
}

.watch-base{
	margin: 45% auto;
	height: 48%;
	width: 82%;
	border: 1px solid rgba(255,0,0,1);
}

.watch-screen{
	margin: 16% auto 8% auto;
	height: 26%;
	width: 75%;
	border: 1px solid rgba(255,0,0,1);
}

.watch-numpad{
	margin: 0;
	height: 52%;
	width: 100%;
	border: 1px solid rgba(255,0,0,1);
}

/*content*/

.key{
	width: 70px;
	height: 30px;
	margin: 20px 30px;
	font-size: 18px;
	border-radius: 2em;
}
.key:focus{
	outline: 0;
}
.key:active{
	background-color: gray;
}

.row-0{
	margin-top: 20px;
}

.operator{
	background-color: tan;
}

.cmdkey{
	background-color: lightgreen;
}

#calc-display{
	text-align: center;
	font-size: 36px;
}


/*temp side button styles*/

.watch-side{
	margin: 10px auto;
	width: 300px;
}

.side-button{
	text-align: center;
	font-size: 2em;
	width: 140px;
}

/*temp watch styles*/

p{
	text-align: center;
	font-size: 1.3em;
}
